<html>
<header>

</header>
<body>
    <ul>
        <%specInfos.each { specInfo -> %>
            <li><a href="<%= specInfo.url %>" target="specs">${specInfo.name}</a></li>
        <% } %>
    </ul>
</body>
</html>