<html>
<header>
        <link href="layout.css" rel="stylesheet" />
</header>
<body>
    <navigation>
        <ul class="menu">
            <%specInfos.each { specInfo -> %>
                <li><a href="<%= specInfo.url %>" target="specs">${specInfo.name}</a></li>
            <% } %>
        </ul>
    </navigation>
</body>
</html>