<html>
<head>
    <title>${specInfo.name}</title>
    <link href="layout.css" rel="stylesheet" />
</head>

<body>
<div class="spec">
    <h1 class="spec-name">${specName}</h1>
        <% specInfo.allFeatures.each { feature -> %>
            <div class="feature">
            <h2 class="feature-name">${feature.name}</h2>
            <% feature.blocks.each { block -> %>
                <% block.texts.eachWithIndex { text, i -> %>
                    <p class="block">
                        <% if(i == 0) { %>
                            <span class="block-name">${labels[block.kind]}</span>
                        <% } else { %>
                            <span class="block-name">And</span>
                        <% } %>
                        ${text}
                    </p>
                <% } %>
            <% } %>
            </div>
        <% } %>
</div>
</body>
</html>